@import 'base.scss';

.component {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.imageBackground {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.videoContainer {
}

.videoBg {
  background: #000;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.videoFg, .videoFg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .videoFg {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoFg {
    width: 300%;
    left: -100%;
  }
}
