@import 'base.scss';

.component {
  height: $footer-height;
  background-color: white;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {

}

.nav {
  display: flex;
  margin-left: auto;
  font-family: $ff-libre-b;
  font-size: $fs-normal;
  color: $color-sub-text;
}

.navLink {
  margin-right: $space-value * 4;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $color-text-dark;
  }
}

.navLinkActive {
  color: $color-text-dark;
}
